// Colors //

$color-light: #ffffff;
$color-dark: #000000;

$color-one: #006200;

$color-two: #808080;
$color-three: #a29c9c;
$color-four: #beb9b9;
$color-five: #444444;

$color-six: #f5c6cb;
$color-seven: #dc3545;
$color-eight: #ff0000;
